body {
    background-color: #eee;
    margin: 10px 10%;
}

.pretitle {
    color: red;
}

.title {
    text-align: center;
}

td.zh {
    font-size: small;
}


.title2nd, .title3rd {
    text-align: right;
}

table {
    border-collapse: collapse;
}

td {
    border-style: solid;
    border-width: 1px;
}

.article {
    text-indent: 2em;
}

.subtitle {
    margin-bottom: 0;
    color: orange;
    background-color: gray;
}

p {
    margin-top: 0;
}